<hr />
<h2>About Sheep Squad Books</h2>
<br>
<div class="row">

  <img class="col-sm-6 offset-3" src="../../../assets/img/sheepsquad01.jpg" alt="First slide">
</div>
<br>
<div class="row">
  <p>
    It's just a game of angles. Mountains are so simple that they're hard!
    Let some little things just shine through. Just let it bounce around and play.
    A lot of things happening right here. Make big billowy, fluffy clouds. Don't fight these things --
    allow them to happen. It doesn't matter in our world where it goes. Trees are nice people. It doesn't
    hurt anybody, everybody's happy, and it brings a lot of joy to people. I think you'll be tickled with
    what you can do with something that starts out looking this bad. Let it float right down the side of
    the mountain. Painting used to drive me crazy. Just sorta make these things up in your mind, and let
    them drop in. We're gonna have a light source right in here.
    <br>
    <br>
    You're limited only by your imagination. Today's such a wonderful day, let's just make a
    happy little painting. He's like the rest of us -- he's about half crazy. A place you want to go and run
    through bare-footed. Always follow the angles here. We'll just have a firecracker of a sky up here.
    Help them make a happy buck or two. We don't know where that goes. Dance in a happy little sky.
    Wherever you think they should be, then that's exactly where they should be. It's a fantastic day here,
    and I hope it is wherever you're at. It's very easy to make a sky darker, but it's a son of a gun to
    make it lighter. Talent is a pursued interest. 'Course I make some mistakes at home, and we call
    those "abstracts". Anything that happens here, you can work with it.
    <br>
    <br>
    Throw in some happy little things wherever you want them. Sometimes it's fun to play little games
    in your mountains. Let's build a happy little cloud in the sky. Let it continually go in circles,
    otherwise it'll look like it's raining up. Take right off today! He just hangs around back there
    and has a good time all day. A half a hair and some air. We'll put a few little nicety things in
    there. The other thing that is so fantastic about painting is that it teaches you to see.
    Wind it up, blend it together. Everybody will see nature through different eyes You have to make
    all these big decisions when you have power. I'm always looking for a nice, easy way to do this.
    Look at your painting and make a decision. All we're trying to do is teach you a technique and
    turn you loose on the world.
  </p>
</div>